name: CI

on:
  push:
    branches: [main]
    tags:
      - "v*"
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  checks: write
  pull-requests: write
  security-events: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        runner-os: [windows-latest, ubuntu-latest, macos-latest]
        language: [ csharp, actions ]

    runs-on: ${{ matrix.runner-os }}

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: extractions/setup-just@v3
      - name: Initialize CodeQL
        if: matrix.runner-os == 'ubuntu-latest'
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
          queries: +security-and-quality
          config-file: ./.github/codeql/codeql-config.yml

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: dotnet format
        run: just format-check

      - name: Restore dependencies
        run: just restore

      - name: Build
        run: just build

      - name: Unit Test
        run: just test-coverage

      - name: Copy Coverage To Predictable Location
        if: always() && matrix.runner-os == 'ubuntu-latest' && matrix.language == 'csharp'
        run: cp coverage/**/coverage.cobertura.xml coverage/coverage.cobertura.xml

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        if: always() && matrix.runner-os == 'ubuntu-latest' && matrix.language == 'csharp'
        with:
          filename: coverage/coverage.cobertura.xml
          badge: true
          format: "markdown"
          output: "both"

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always() && matrix.runner-os == 'ubuntu-latest' && matrix.language == 'csharp'
        with:
          files: "**/unit-tests.xml"
          check_name: "Unit Test Results"
          comment_mode: off
          commit: ${{ env.PR_SHA }}

      # This is used by the subsequent publish-test-results.yml
      - name: Upload Unit Test Results
        if: always() && matrix.runner-os == 'ubuntu-latest' && matrix.language == 'csharp'
        uses: actions/upload-artifact@v4
        with:
          name: Unit Test Results
          path: tests/Hello.Tests/unit-tests.xml

      # This is used by the subsequent publish-test-results.yml
      - name: Upload Code Coverage Report
        if: always() && matrix.runner-os == 'ubuntu-latest' && matrix.language == 'csharp'
        uses: actions/upload-artifact@v4
        with:
          name: Code Coverage Report
          path: code-coverage-results.md

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        if: matrix.runner-os == 'ubuntu-latest'

  upload-event-file:
    runs-on: ubuntu-latest
    steps:
      # This is used by the subsequent publish-test-results.yaml
      - name: Upload Event File
        uses: actions/upload-artifact@v4
        with:
          name: Event File
          path: ${{ github.event_path }}

  build-for-e2e-test:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.owner.login == 'akordowski'
    strategy:
      fail-fast: false
      matrix:
        target-os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: extractions/setup-just@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Build Artifacts (Linux)
        if: matrix.target-os == 'ubuntu-latest'
        run: just publish-linux

      - name: Build Artifacts (Windows)
        if: matrix.target-os == 'windows-latest'
        run: just publish-windows

      - name: Build Artifacts (MacOS)
        if: matrix.target-os == 'macos-latest'
        run: just publish-macos

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ matrix.target-os }}
          path: |
            dist/linux-x64/hello-linux-amd64
            dist/osx-x64/hello-darwin-amd64
            dist/win-x64/hello-windows-amd64.exe

  e2e-test:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.owner.login == 'akordowski'
    needs: [build-for-e2e-test]
    strategy:
      fail-fast: false
      matrix:
        runner-os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.runner-os }}
    concurrency: integration-test-${{ matrix.runner-os }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Download Binaries
        uses: actions/download-artifact@v4
        with:
          name: binaries-${{ matrix.runner-os }}
          path: dist

      - name: Copy binary to root (linux)
        if: matrix.runner-os == 'ubuntu-latest'
        run: |
          New-Item -Path "./" -Name "gh-hello" -ItemType "directory"
          Copy-Item ./dist/linux-x64/hello-linux-amd64 ./gh-hello/gh-hello
        shell: pwsh

      - name: Copy binary to root (windows)
        if: matrix.runner-os == 'windows-latest'
        run: |
          New-Item -Path "./" -Name "gh-hello" -ItemType "directory"
          Copy-Item ./dist/win-x64/hello-windows-amd64.exe ./gh-hello/gh-hello.exe
        shell: pwsh

      - name: Copy binary to root (macos)
        if: matrix.runner-os == 'macos-latest'
        run: |
          New-Item -Path "./" -Name "gh-hello" -ItemType "directory"
          Copy-Item ./dist/osx-x64/hello-darwin-amd64 ./gh-hello/gh-hello
        shell: pwsh

      - name: Set execute permissions
        run: |
          chmod +x ./gh-hello/gh-hello

      - name: Install gh-hello extension
        run: gh extension install .
        shell: pwsh
        working-directory: ./gh-hello
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [build, e2e-test]
    environment: PUBLISH_RELEASE

    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.PUBLISH_PAT }}
          fetch-depth: 0

      - name: Validate tag on main
        shell: pwsh
        run: |
          git checkout main
          $mainsha = $(git show-ref refs/heads/main --hash)
          $tagsha = $(git show-ref ${{ github.ref }} --hash)

          Write-Output "refs/heads/main: $mainsha"
          Write-Output "${{ github.ref }}: $tagsha"

          if ($mainsha -ne $tagsha) {
            Write-Error "tag must match HEAD of main"
            exit 1
          }

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Build Artifacts
        run: ./publish.ps1
        shell: pwsh
        env:
          CLI_VERSION: ${{ github.ref }}

      - name: Create gh-hello Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: ./RELEASENOTES.md
          files: |
            ./dist/hello.*.win-x64.zip
            ./dist/hello.*.win-x86.zip
            ./dist/hello.*.linux-x64.tar.gz
            ./dist/hello.*.osx-x64.tar.gz
            ./dist/win-x64/hello-windows-amd64.exe
            ./dist/win-x86/hello-windows-386.exe
            ./dist/linux-x64/hello-linux-amd64
            ./dist/osx-x64/hello-darwin-amd64

      - name: Archive Release Notes
        shell: pwsh
        run: |
          $DIR_PATH = "./releasenotes"
          $TAG_NAME = "${{ github.ref }}".Substring(10)

          if (-Not (Test-Path -Path $DIR_PATH -PathType Container)) {
              New-Item -ItemType Directory -Path $DIR_PATH
          }
          
          Get-Content ./RELEASENOTES.md | Out-File -FilePath $DIR_PATH/$TAG_NAME.md
          "" | Out-File ./RELEASENOTES.md

      - name: Update LATEST-VERSION.TXT
        shell: pwsh
        run: |
          $TAG_NAME = "${{ github.ref }}".Substring(10)
          $TAG_NAME | Out-File ./LATEST-VERSION.txt

      - name: Commit Release Notes and Version
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Automated commit of archived release notes and version file [skip ci]
          file_pattern: RELEASENOTES.md releasenotes/*.md LATEST-VERSION.txt
          branch: main
